body{
    padding: 0;
    margin: 0;
    background-color: rgb(158, 158, 158);
    .container{
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px dashed #000;
        h1{
            font-size: 4rem;
            font-family: 'Courier New', Courier, monospace;
        }
        input{
            background-color: transparent;
            border: 1px solid #000;
            padding: 5px;
        }
        button{
            background-color: #000;
            border-radius: 10px;
            border: none;
            color: #fff;
            padding: 5px 10px;
        }
        ul{
            padding: 0;
        
            li{
                text-decoration: none;
                list-style: none;
                padding: 0rem 0 1rem 0;
                display: flex;
                justify-content: start;
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.5rem;
                line-height: 2rem;
                input{
                    width: 1.5rem;
                    height: 1.5rem;
                }
                p{
                    margin: 0;
                    order: 2;
                }
                span{
                    order: 1;
                }
                .task-done{
                    order: 3;
                    padding-left: 2rem;
                }
            }
            li.highlight{
                span{
                    text-decoration: line-through;
                }
                .task-done{
                    position: relative;
                    text-decoration: none;
                    font-size: .65rem;
                    color: greenyellow;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: greenyellow;
                        top: 33%;
                        left: 20px;
                    }
                }
            }

        }
    }
}


